/build/*
!/build/.gitkeep
/dist/
/packages/*
!/packages/.gitkeep
/src/core/target/
/package/stage/
/.build/
*.ipa
*.deb
*.dylib
*.a
*.o
*.dSYM/
*.mobileprovision
*.p12
*.cer
*.key
*.token
*.save
*.dat
.DS_Store
